<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="API.Properties.Settings.ConnectionString" connectionString="Data Source=localhost;Initial Catalog=UnionDB;User ID=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>